.contactCard {
  background: url("../public/assets/shared/desktop/bg-pattern-call-to-action.svg")
    no-repeat center right;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 15px;
  min-width: none;
  max-width: 327px;
  margin-inline: auto;
  padding: 64px 24px;
  text-align: center;
  background-color: var(--peach);
  color: white;
  z-index: 2;
}
.contactCardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.contactCard p {
  font-size: clamp(15px, 2.5vw, 16px);
  line-height: clamp(25px, 2.5vw, 26px);
}
.contactContainer {
  position: relative;
}
.footerExtender {
  width: 100%;
  height: 190px;
  background-color: var(--black);
  position: absolute;
  z-index: -1;
  bottom: -1px;
}
.footer {
  text-align: center;
  background-color: var(--black);
  padding: 64px 24px;
}
.footerTop,
.footerBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.footerNav {
  border-top: 1px solid var(--dark-grey);
  width: 100%;
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
  padding-block: 30px;
}
.footerNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-transform: uppercase;
}
.footer a:link,
.footer a:visited {
  color: inherit;
  text-decoration: none;
}
.footer a:hover {
  cursor: pointer;
}
.footerNav ul li a:hover {
  cursor: pointer;
  text-decoration: underline rgba(255, 255, 255, 0.5);
  text-underline-offset: 2px;
}

.footer address {
  font-family: "Jost";
  color: var(--light-grey);
  opacity: 0.5;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
.footer address span {
  font-weight: 600;
}
.socialLinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

@media (min-width: 768px) {
  .contactCard {
    max-width: 690px;
    padding: 57px 58px;
  }
  .contactCard h4 {
    width: 50%;
  }
  .contactCard p {
    width: 75%;
  }
  .footerExtender {
    height: 87px;
  }
  .footer {
    text-align: left;
    padding: 80px 39px;
  }
  .footerTop,
  .footerBottom {
    flex-direction: row;
    max-width: 1111px;
    margin-inline: auto;
  }
  .footerTop {
    border-bottom: 1px solid var(--dark-grey);
    padding-block: 40px;
    justify-content: space-between;
  }
  .footerBottom {
    padding-block: 40px;
    justify-content: flex-start;
    gap: 15%;
  }
  .footerNav {
    border: none;
    width: auto;
    padding: 0;
  }
  .footerNav ul {
    flex-direction: row;
  }

  .socialLinks {
    align-self: flex-end;
    margin-left: auto;
  }
}
@media (min-width: 1111px) {
  .contactCard {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    max-width: 1111px;
    padding: 72px 95px;
  }
  .contactCardText {
    align-items: flex-start;
    width: 459px;
  }
  .contactCard h4 {
    width: 75%;
  }
  .contactCard p {
    width: 95%;
  }

  .footerExtender {
    height: 72px;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 72px 0;
    width: 100%;
  }
}
