.footer {
  text-align: center;
  background-color: var(--black);
  padding: 50px 20px;
}
.footerTop,
.footerBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.footerNav {
  border-top: 1px solid var(--dark-grey);
  width: 100%;
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
  padding-block: 30px;
}
.footerNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-transform: uppercase;
}
.footer address {
  font-family: "Jost";
  color: var(--light-grey);
  opacity: 0.5;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
.footer address span {
  font-weight: 600;
}
.socialLinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
    padding: 30px;
  }
  .footerTop,
  .footerBottom {
    flex-direction: row;
    max-width: 1111px;
    margin-inline: auto;
  }
  .footerTop {
    border-bottom: 1px solid var(--dark-grey);
    padding-block: 40px;
    justify-content: space-between;
  }
  .footerBottom {
    padding-block: 40px;
    justify-content: flex-start;
    gap: 15%;
  }
  .footerNav {
    border: none;
    width: auto;
    padding: 0;
  }
  .footerNav ul {
    flex-direction: row;
  }

  .socialLinks {
    align-self: flex-end;
    margin-left: auto;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding-inline: 0;
  }
  .footerTop,
  .footerBottom {
  }
}
