.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.location {
  text-align: center;
}
.location h3 {
  color: #333136;
  margin-top: 48px;
  margin-bottom: 32px;
}
@media (min-width: 1111px) {
  .section {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
