.aboutHero {
  height: 715px;
  width: 100%;
}
.heroImg {
  margin-inline: -24px;
  height: 320px;
  background: url("../public/assets/about/mobile/image-about-hero.jpg")
    no-repeat;
  background-size: cover;
}
.heroText {
  height: 715px;
  margin-inline: -24px;
  margin-bottom: -120px;
  background: url("../public/assets/about/mobile/bg-pattern-hero-about-mobile.svg")
    no-repeat var(--peach);
  background-position: 100% 25%;
  background-size: 900px;
  color: white;
  text-align: center;
  padding: 80px 24px;
}
.heroText p,
.cardText p {
  margin-top: 24px;
}
.cardOne {
  margin-top: -120px;
}
.cardOneImg {
  margin-inline: -24px;
  height: 320px;
  background: url("../public/assets/about/mobile/image-world-class-talent.jpg")
    no-repeat;
  background-size: cover;
}
.cardText {
  text-align: center;
  padding: 80px 24px;
  margin-inline: -24px;
  background: url("../public/assets/shared/desktop/bg-pattern-three-circles.svg")
    no-repeat var(--lighter-peach);
}
.cardText h4 {
  color: var(--peach);
}
.cardTwoImg {
  margin-inline: -24px;
  height: 320px;
  background: url("../public/assets/about/mobile/image-real-deal.jpg") no-repeat;
  background-size: cover;
}
