.aboutHero {
  height: 715px;
  width: 100%;
}
.heroImg {
  margin-inline: -24px;
  height: 320px;
  background: url("/images/mobile/image-about-hero.jpg") no-repeat;
  background-size: cover;
}
.heroText {
  height: 395px;
  margin-inline: -24px;
  margin-bottom: -120px;
  background: url("/images/mobile/bg-pattern-hero-about-mobile.svg") no-repeat
    var(--peach);
  background-position: 100% 25%;
  background-size: 900px;
  color: white;
  text-align: center;
  padding: 80px 24px;
}
.heroText p,
.cardText p {
  margin-top: 24px;
}
.cardOne {
  margin-top: -120px;
}
.cardOneImg {
  margin-inline: -24px;
  height: 320px;
  background: url("/images/mobile/image-world-class-talent.jpg") no-repeat;
  background-size: cover;
}
.cardText {
  text-align: center;
  padding: 80px 24px;
  margin-inline: -24px;
  background: url("/images/bg-pattern-three-circles.svg") no-repeat
    var(--lighter-peach);
}
.cardText h4 {
  color: var(--peach);
}
.cardTwoImg {
  margin-inline: -24px;
  height: 320px;
  background: url("/images/mobile/image-real-deal.jpg") no-repeat;
  background-size: cover;
}
@media (min-width: 500px) {
  .heroImg {
    background: url("/images/tablet/image-about-hero.jpg") no-repeat;
    background-size: cover;
  }
  .cardOneImg {
    background: url("/images/tablet/image-world-class-talent.jpg") no-repeat;
    background-size: cover;
  }
  .cardTwoImg {
    background: url("/images/tablet/image-real-deal.jpg") no-repeat;
    background-size: cover;
  }
  .heroText {
    background: url("/images/bg-pattern-hero-about-desktop.svg") no-repeat
      var(--peach);
    background-position: -120px -400px;
  }
  .cardText {
    background-size: 584px;
    background-position: 100% -200px;
  }
}
@media (min-width: 768px) {
  .aboutHero {
    height: auto;
    width: 100%;
  }
  .heroImg {
    margin-inline: 0;
    height: 320px;
    border-radius: 15px 15px 0 0;
  }
  .heroText,
  .cardText {
    height: auto;
    margin-inline: 0;
    margin-bottom: 0;
    border-radius: 0 0 15px 15px;
  }

  .cardOne {
    margin-top: 0;
  }
  .cardOneImg,
  .cardTwoImg,
  .cardText {
    margin-inline: 0;
  }
  .cardOneImg,
  .cardTwoImg {
    border-radius: 15px 15px 0 0;
  }
}
@media (min-width: 1111px) {
  .aboutHero {
    display: flex;
    flex-direction: row-reverse;
  }
  .heroImg {
    height: 480px;
    width: 40%;
    border-radius: 0 15px 15px 0;
    background: url("/images/image-about-hero.jpg") no-repeat;
    background-size: cover;
  }
  .heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-inline: 95px;
    width: 60%;
    border-radius: 15px 0 0 15px;
    background-position: 30px -160px;
  }
  .cardOne,
  .cardTwo {
    display: flex;
    height: 640px;
  }
  .cardOneImg {
    background: url("/images/image-world-class-talent.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 40%;
    height: auto;
    border-radius: 15px 0 0 15px;
  }
  .cardOne .cardText {
    border-radius: 0 15px 15px 0;
  }
  .cardText {
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 95px;
    background: url("/images/bg-pattern-two-circles.svg") no-repeat
      var(--lighter-peach);
    background-position: 0 100%;
  }
  .cardTwo {
    flex-direction: row-reverse;
  }
  .cardTwo .cardText {
    border-radius: 15px 0 0 15px;
  }
  .cardTwoImg {
    width: 40%;
    height: auto;
    border-radius: 0 15px 15px 0;
    background: url("/images/image-real-deal.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}
