.contactSection {
  background-color: var(--peach);
  background-image: url("../public/assets/contact/mobile/bg-pattern-hero-contact-mobile.svg");
  background-repeat: no-repeat;
  background-position: -100px 0;
  padding: 80px 24px;
  color: white;
  margin-inline: -24px;
}
.contactText {
  text-align: center;
  margin-bottom: 48px;
}
.contactText p {
  margin-top: 32px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.errorContainer {
  min-width: 110px;
  margin-left: auto;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 55px;
}
.errorContainer p {
  font-size: 12px;
}

.form input,
.form textarea {
  color: white;
  background-color: transparent;
  padding: 15px;
  border: none;
  border-bottom: 1px white solid;
}
.form textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 102px;
  margin-bottom: 20px;
}
.form input::placeholder,
.form textarea::placeholder {
  color: white;
  opacity: 0.5;
}
.form input:focus,
.form input:hover,
.form textarea:focus,
.form textarea:hover {
  cursor: pointer;
  border: none;
  border-bottom: 3px white solid;
  outline: none;
}
.form input:focus:hover,
.form textarea:focus:hover {
  cursor: text;
}

@media (min-width: 768px) {
  .contactSection {
    margin-inline: 0;
    border-radius: 15px;
    background-image: url("../public/assets/contact/desktop/bg-pattern-hero-desktop.svg");
    background-repeat: no-repeat;
    background-position: -125px -90px;
    padding: 77px 58px;
  }
  .contactText {
    text-align: left;
    margin-bottom: 40px;
  }
  .form {
    gap: 5px;
  }
  .errorContainer {
    top: 40px;
  }
  .form button {
    margin-top: 0;
    align-self: flex-end;
  }
}
@media (min-width: 1111px) {
  .contactSection {
    display: flex;
    justify-content: space-evenly;
    background-position: bottom left;
    align-items: center;
  }
  .contactText {
    width: 445px;
  }
  .form {
    width: 380px;
    gap: 0;
  }
  .errorContainer {
    top: 35px;
  }
}
