.contactSection {
  background-color: var(--peach);
  background-image: url("../public/assets/contact/mobile/bg-pattern-hero-contact-mobile.svg");
  background-repeat: no-repeat;
  background-position: -100px 0;
  padding: 80px 24px;
  color: white;
  margin-inline: -24px;
}
.contactText {
  text-align: center;
  margin-bottom: 48px;
}
.contactText p {
  margin-top: 32px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.form input,
.form textarea {
  color: white;
  background-color: transparent;
  padding: 11px 14px;
  border: none;
  border-bottom: 1px white solid;
}
.form textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 102px;
}
.form input::placeholder,
.form textarea::placeholder {
  color: white;
  opacity: 0.5;
}
.form input:focus,
.form textarea:focus {
  border: none;
  border-bottom: 3px white solid;
  outline: none;
}

@media (min-width: 768px) {
  .contactSection {
    margin-inline: 0;
    border-radius: 15px;
    background-image: url("../public/assets/contact/desktop/bg-pattern-hero-desktop.svg");
    background-repeat: no-repeat;
    background-position: -125px -90px;
    padding: 77px 58px;
  }
  .contactText {
    text-align: left;
    margin-bottom: 40px;
  }
  .form {
    gap: 25px;
  }
  .form button {
    margin-top: 0;
    align-self: flex-end;
  }
}
@media (min-width: 1111px) {
  .contactSection {
    display: flex;
    justify-content: space-evenly;
    background-position: bottom left;
  }
  .contactText {
    width: 445px;
  }
  .form {
    width: 380px;
  }
}
