@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  /* Primary Colors */
  --peach: #e7816b;
  --black: #1d1c1e;
  --white: #fff;
  /* Secondary Colors */
  --light-peach: #ffad9b;
  --dark-grey: #333136;
  --light-grey: #f1f3f5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Jost", sans-serif;
  font-size: clamp(15px, 3vw, 16px);
  line-height: clamp(25px, 3vw, 26px);
  font-weight: 400;
  color: var(--dark-grey);
}
h1,
h2,
h3 {
  font-weight: 500;
}
h1 {
  font-size: clamp(32px, 6.5vw, 48px);
  line-height: clamp(36px, 6.5vw, 48px);
}
h2 {
  font-size: clamp(28px, 6vw, 40px);
  line-height: clamp(36px, 6vw, 48px);
  letter-spacing: clamp(1.4px 6vw, 2px);
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.btn-on-dark,
.btn-on-light {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 8px;
  border: none;
  transition: background 0.25s ease, color 0.25s ease;
}
.btn-on-dark:hover,
.btn-on-light:hover {
  cursor: pointer;
  background-color: var(--light-peach);
  color: white;
  transition: background 0.25s ease, color 0.25s ease;
}
.btn-on-dark {
  background-color: white;
  color: var(--dark-grey);
}
.btn-on-light {
  color: white;
  background-color: var(--peach);
}
main {
  max-width: 1111px;
  margin-inline: auto;
  padding-inline: 24px;
}
.banner-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  color: white;
  text-align: center;
  padding-top: 80px;
  padding-inline: 24px;
  margin-inline: -24px;
  height: 843px;
  background: url("../public/assets/home/desktop/image-hero-phone.png") 50% -300%
      no-repeat,
    var(--peach)
      url("../public/assets/shared/desktop/bg-pattern-small-circle.svg") 0px 50%
      no-repeat;
  background-size: 640px;
}
.category-container {
  padding-block: 120px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.category-web {
  background: url("../public/assets/home/mobile/image-web-design.jpg") no-repeat
    rgba(0, 0, 0, 0.5);
}
.category-app {
  background: url("../public/assets/home/mobile/image-app-design.jpg") no-repeat
    rgba(0, 0, 0, 0.5);
}
.category-graphic {
  background: url("../public/assets/home/mobile/image-graphic-design.jpg")
    no-repeat rgba(0, 0, 0, 0.5);
}
.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  border-radius: 15px;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-blend-mode: multiply;
  background-size: cover;
}
.category-container p {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  main {
    padding-inline: 30px;
  }
  .banner-home {
    padding-top: 60px;
    padding-inline: 58px;
    margin-inline: 0;
    border-radius: 15px;
    background-position: 50% -300%, 100% 100px;
  }
}
@media (min-width: 1111px) {
  main {
    padding-inline: 0;
  }
  .banner-home {
    height: 640px;
    padding: 145px 95px;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    background-position: 565px -50px, right top;
  }
  .banner-home h1 {
    width: 540px;
  }
  .banner-home p {
    width: 445px;
  }
}
