@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  /* Primary Colors */
  --peach: #e7816b;
  --black: #1d1c1e;
  --white: #fff;
  /* Secondary Colors */
  --light-peach: #ffad9b;
  --dark-grey: #333136;
  --light-grey: #f1f3f5;
  --lighter-peach: #fdf3f0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Jost", sans-serif;
  font-size: clamp(15px, 3vw, 16px);
  line-height: clamp(25px, 3vw, 26px);
  font-weight: 400;
  color: var(--dark-grey);
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3 {
  font-weight: 500;
}
h1 {
  font-size: clamp(32px, 6.5vw, 48px);
  line-height: clamp(36px, 6.5vw, 48px);
}
h2 {
  font-size: clamp(28px, 6vw, 40px);
  line-height: clamp(36px, 6vw, 48px);
  letter-spacing: clamp(1.4px 6vw, 2px);
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
h4 {
  font-weight: 500;
  font-size: clamp(32px, 6vw, 40px);
  line-height: clamp(36px, 6vw, 40px);
}
.btn-on-dark,
.btn-on-light {
  color: var(--black);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 17px;
  min-width: 152px;
  border-radius: 8px;
  border: none;
  transition: background 0.25s ease, color 0.25s ease;
}
.btn-on-dark:hover,
.btn-on-light:hover {
  cursor: pointer;
  background-color: var(--light-peach);
  color: white;
  transition: background 0.25s ease, color 0.25s ease;
}
.btn-on-dark {
  background-color: white;
  color: var(--dark-grey);
}
.btn-on-light {
  color: white;
  background-color: var(--peach);
}
main {
  max-width: 1111px;
  margin-inline: auto;
  margin-bottom: 121px;
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  background-color: transparent;
}
.banner-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  color: white;
  text-align: center;
  padding-top: 80px;
  padding-inline: 24px;
  margin-inline: -24px;
  height: 843px;
  background: url("../public/assets/home/desktop/image-hero-phone.png") 50% -300%
      no-repeat,
    var(--peach)
      url("../public/assets/shared/desktop/bg-pattern-small-circle.svg") 0px 50%
      no-repeat;
  background-size: 640px;
}
.category-container,
.category-container-home {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.web-banner-bg-image,
.app-banner-bg-image,
.graphic-banner-bg-image {
  background-repeat: no-repeat;
  background-position: right top;
}
.web-banner-bg-image {
  background-image: url("../public/assets/web-design/desktop/bg-pattern-intro-web.svg");
}
.app-banner-bg-image {
  background-image: url("../public/assets/app-design/desktop/bg-pattern-intro-app.svg");
}
.graphic-banner-bg-image {
  background-image: url("../public/assets/graphic-design/desktop/bg-pattern-intro-graphic.svg");
}
.category-web,
.category-web-home {
  background: url("../public/assets/home/mobile/image-web-design.jpg") no-repeat
    rgba(0, 0, 0, 0.5);
}
.category-app {
  background: url("../public/assets/home/mobile/image-app-design.jpg") no-repeat
    rgba(0, 0, 0, 0.5);
}
.category-graphic {
  background: url("../public/assets/home/mobile/image-graphic-design.jpg")
    no-repeat rgba(0, 0, 0, 0.5);
}
.category-card-top-layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.category-card-top-layer:hover {
  cursor: pointer;
  background-color: rgba(231, 129, 107, 0.75);
}
.category-card:hover {
  background-blend-mode: normal;
}
.category-card {
  color: white;
  text-align: center;
  border-radius: 15px;
  width: 100%;
  height: 250px;
  background-blend-mode: multiply;
  background-size: cover;
}
.category-card p {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.infographic-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.infographic {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}
.img-infographic {
  background: url("../public/assets/home/desktop/bg-pattern-hero-home.svg")
    no-repeat;
  background-size: cover;
}
.text-infographic p {
  margin-top: 22px;
}

@media (min-width: 500px) {
  .category-web,
  .category-web-home {
    height: 200px;
    background: url("../public/assets/home/desktop/image-web-design-small.jpg")
      no-repeat rgba(0, 0, 0, 0.5);
  }
  .category-app {
    height: 200px;
    background: url("../public/assets/home/desktop/image-app-design.jpg")
      no-repeat rgba(0, 0, 0, 0.5);
  }
  .category-graphic {
    height: 200px;
    background: url("../public/assets/home/desktop/image-graphic-design.jpg")
      no-repeat rgba(0, 0, 0, 0.5);
  }
  .category-card {
    background-size: cover;
  }
}

@media (min-width: 768px) {
  main {
    padding-inline: 30px;
  }
  .web-banner-bg-image,
  .app-banner-bg-image,
  .graphic-banner-bg-image {
    background-position: 50% 50%;
  }
  .banner-home {
    padding-top: 60px;
    padding-inline: 58px;
    margin-inline: 0;
    border-radius: 15px;
    background-position: 50% -300%, 100% 100px;
  }
  .infographic-container {
    gap: 32px;
  }
  .infographic {
    text-align: left;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
  .text-infographic {
    width: 65%;
  }
  .text-infographic p {
    margin-top: 16px;
  }
}

@media (min-width: 1111px) {
  body {
    margin-inline: auto;
    background: url("../public/assets/shared/desktop/bg-pattern-leaf.svg")
        no-repeat,
      url("../public/assets/shared/desktop/bg-pattern-leaf-flipped.svg")
        no-repeat;
    background-size: clamp(1006px, 20vw, 3006px);
    background-position: 0px 450px, 100% 1850px;
  }
  main {
    margin-bottom: 160px;
    padding-inline: 0;
    gap: 160px;
  }
  .web-banner-bg-image,
  .graphic-banner-bg-image {
    background-position: right 50%;
  }
  .app-banner-bg-image {
    background-position: left 50%;
  }
  .banner-home {
    height: 640px;
    padding: 145px 95px;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    background-position: 565px -50px, right top;
  }
  .banner-home h1 {
    width: 540px;
  }
  .banner-home p {
    width: 445px;
  }
  .category-container-home {
    display: grid;
    grid: [row1-start] "web app" [row1-end][row2-start] "web graphic" [row2-end];
  }
  .category-container {
    flex-direction: row;
  }
  .category-web-home {
    grid-area: web;
    width: 541px;
    height: 640px;
    background: url("../public/assets/home/desktop/image-web-design-large.jpg")
      no-repeat rgba(0, 0, 0, 0.5);
  }
  .category-web {
    width: 541px;
    height: 308px;
  }
  .category-app {
    grid-area: app;
    width: 541px;
    height: 308px;
  }
  .category-graphic {
    grid-area: graphic;
    width: 541px;
    height: 308px;
  }
  .infographic-container {
    gap: 30px;
    flex-direction: row;
  }
  .infographic {
    text-align: center;
    flex-direction: column;
    gap: 18px;
    justify-content: space-between;
  }
  .text-infographic {
    width: auto;
  }
  .text-infographic p {
    margin-top: 22px;
  }
}
