@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  /* Primary Colors */
  --peach: #e7816b;
  --black: #1d1c1e;
  --white: #fff;
  /* Secondary Colors */
  --light-peach: #ffad9b;
  --dark-grey: #333136;
  --light-grey: #f1f3f5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Jost", sans-serif;
  font-size: clamp(15px, 3vw, 16px);
  line-height: clamp(25px, 3vw, 26px);
  font-weight: 400;
  color: var(--dark-grey);
}
h1,
h2,
h3 {
  font-weight: 500;
}
h1 {
  font-size: clamp(32px, 6.5vw, 48px);
  line-height: clamp(36px, 6.5vw, 48px);
}
h2 {
  font-size: clamp(28px, 6vw, 40px);
  line-height: clamp(36px, 6vw, 48px);
  letter-spacing: clamp(1.4px 6vw, 2px);
  text-transform: uppercase;
}
h3 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.btn-on-dark,
.btn-on-light {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 8px;
  border: none;
  transition: background 0.25s ease, color 0.25s ease;
}
.btn-on-dark:hover,
.btn-on-light:hover {
  cursor: pointer;
  background-color: var(--light-peach);
  color: white;
  transition: background 0.25s ease, color 0.25s ease;
}
.btn-on-dark {
  background-color: white;
  color: var(--dark-grey);
}
.btn-on-light {
  color: white;
  background-color: var(--peach);
}
