.locationSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: -24px;
}
.imgCanada {
  background: url("../public/assets/locations/tablet/image-map-canada.png")
    no-repeat;
}
.imgAustralia {
  background: url("../public/assets/locations/tablet/image-map-australia.png")
    no-repeat;
}
.imgUK {
  background: url("../public/assets/locations/tablet//image-map-uk.png")
    no-repeat;
}
